# Assignment 1
### Will Novak (dcq8fz)
### Understanding Uncertainty
### Due 9/5

1. Create a new public repo on Github under your account. Include a readme file.
2. Clone it to your machine. Put this file into that repo.
3. Use the following function to download the example data for the course:

In [1]:
def download_data(force=False):
    """Download and extract course data from Zenodo."""
    import urllib.request, zipfile, os
    
    zip_path = 'data.zip'
    data_dir = 'data'
    
    if not os.path.exists(zip_path) or force:
        print("Downloading course data")
        urllib.request.urlretrieve(
            'https://zenodo.org/records/16954427/files/data.zip?download=1',
            zip_path
        )
        print("Download complete")
    else:
        print("Download file already exists")
        
    if not os.path.exists(data_dir) or force:
        print("Extracting data files...")
        with zipfile.ZipFile(zip_path, 'r') as zip_ref:
            zip_ref.extractall(data_dir)
        print("Data extracted")
    else:
        print("Data directory already exists")

download_data()

Downloading course data
Download complete
Extracting data files...
Data extracted

4. Open one of the datasets using Pandas:
    1. `ames_prices.csv`: Housing characteristics and prices
    2. `college_completion.csv`: Public, nonprofit, and for-profit educational institutions, graduation rates, and financial aid
    3. `ForeignGifts_edu.csv`: Monetary and in-kind transfers from foreign entities to U.S. educational institutions
    4. `iowa.csv`: Liquor sales in Iowa, at the transaction level
    5. `metabric.csv`: Cancer patient and outcome data
    6. `mn_police_use_of_force.csv`: Records of physical altercations between Minnessota police and private citizens
    7. `nhanes_data_17_18.csv`: National Health and Nutrition Examination Survey
    8. `tuna.csv`: Yellowfin Tuna Genome (I don't recommend this one; it's just a sequence of G, C, A, T )
    9. `va_procurement.csv`: Public spending by the state of Virginia

In [2]:
import pandas as pd
import numpy as np

df = pd.read_csv('data/college_completion.csv')
df.info()
df.head()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3798 entries, 0 to 3797
Data columns (total 63 columns):
 #   Column                                Non-Null Count  Dtype
---  ------                                --------------  -----
 0   index                                 3798 non-null   int64
 1   unitid                                3798 non-null   int64
 2   chronname                             3798 non-null   object
 3   city                                  3798 non-null   object
 4   state                                 3798 non-null   object
 5   level                                 3798 non-null   object
 6   control                               3798 non-null   object
 7   basic                                 3798 non-null   object
 8   hbcu                                  94 non-null     object
 9   flagship                              50 non-null     object
 10  long_x                                3798 non-null   float64
 11  lat_y                                 3798 non-null   float64
 12  site                                  3779 non-null   object
 13  student_count                         3798 non-null   int64
 14  awards_per_value                      3798 non-null   float64
 15  awards_per_state_value                3798 non-null   float64
 16  awards_per_natl_value                 3798 non-null   float64
 17  exp_award_value                       3798 non-null   int64
 18  exp_award_state_value                 3798 non-null   int64
 19  exp_award_natl_value                  3798 non-null   int64
 20  exp_award_percentile                  3798 non-null   int64
 21  ft_pct                                3794 non-null   float64
 22  fte_value                             3798 non-null   int64
 23  fte_percentile                        3798 non-null   int64
 24  med_sat_value                         1337 non-null   float64
 25  med_sat_percentile                    1337 non-null   float64
 26  aid_value                             3797 non-null   float64
 27  aid_percentile                        3797 non-null   float64
 28  endow_value                           2323 non-null   float64
 29  endow_percentile                      2323 non-null   float64
 30  grad_100_value                        3467 non-null   float64
 31  grad_100_percentile                   3467 non-null   float64
 32  grad_150_value                        3467 non-null   float64
 33  grad_150_percentile                   3467 non-null   float64
 34  pell_value                            3797 non-null   float64
 35  pell_percentile                       3797 non-null   float64
 36  retain_value                          3535 non-null   float64
 37  retain_percentile                     3535 non-null   float64
 38  ft_fac_value                          3785 non-null   float64
 39  ft_fac_percentile                     3785 non-null   float64
 40  vsa_year                              279 non-null    float64
 41  vsa_grad_after4_first                 279 non-null    float64
 42  vsa_grad_elsewhere_after4_first       279 non-null    float64
 43  vsa_enroll_after4_first               279 non-null    float64
 44  vsa_enroll_elsewhere_after4_first     279 non-null    float64
 45  vsa_grad_after6_first                 279 non-null    float64
 46  vsa_grad_elsewhere_after6_first       279 non-null    float64
 47  vsa_enroll_after6_first               279 non-null    float64
 48  vsa_enroll_elsewhere_after6_first     279 non-null    float64
 49  vsa_grad_after4_transfer              270 non-null    float64
 50  vsa_grad_elsewhere_after4_transfer    270 non-null    float64
 51  vsa_enroll_after4_transfer            270 non-null    float64
 52  vsa_enroll_elsewhere_after4_transfer  270 non-null    float64
 53  vsa_grad_after6_transfer              270 non-null    float64
 54  vsa_grad_elsewhere_after6_transfer    270 non-null    float64
 55  vsa_enroll_after6_transfer            270 non-null    float64
 56  vsa_enroll_elsewhere_after6_transfer  270 non-null    float64
 57  similar                               3579 non-null   object
 58  state_sector_ct                       3798 non-null   int64
 59  carnegie_ct                           3798 non-null   int64
 60  counted_pct                           3372 non-null   object
 61  nicknames                             310 non-null    object
 62  cohort_size                           3467 non-null   float64
dtypes: float64(40), int64(11), object(12)
memory usage: 1.8+ MB

,index,unitid,chronname,city,state,level,control,basic,hbcu,flagship,...,vsa_grad_after6_transfer,vsa_grad_elsewhere_after6_transfer,vsa_enroll_after6_transfer,vsa_enroll_elsewhere_after6_transfer,similar,state_sector_ct,carnegie_ct,counted_pct,nicknames,cohort_size
0,0,100654,Alabama A&M University,Normal,Alabama,4-year,Public,Masters Colleges and Universities--larger prog...,X,NaN,...,36.4,5.6,17.2,11.1,232937|100724|405997|113607|139533|144005|2285...,13,386,99.7|07,NaN,882.0
1,1,100663,University of Alabama at Birmingham,Birmingham,Alabama,4-year,Public,Research Universities--very high research acti...,NaN,NaN,...,NaN,NaN,NaN,NaN,196060|180461|201885|145600|209542|236939|1268...,13,106,56.0|07,UAB,1376.0
2,2,100690,Amridge University,Montgomery,Alabama,4-year,Private not-for-profit,Baccalaureate Colleges--Arts & Sciences,NaN,NaN,...,NaN,NaN,NaN,NaN,217925|441511|205124|247825|197647|221856|1353...,16,252,100.0|07,NaN,3.0
3,3,100706,University of Alabama at Huntsville,Huntsville,Alabama,4-year,Public,Research Universities--very high research acti...,NaN,NaN,...,0.0,0.0,0.0,0.0,232186|133881|196103|196413|207388|171128|1900...,13,106,43.1|07,UAH,759.0
4,4,100724,Alabama State University,Montgomery,Alabama,4-year,Public,Masters Colleges and Universities--larger prog...,X,NaN,...,NaN,NaN,NaN,NaN,100654|232937|242617|243197|144005|241739|2354...,13,386,88.0|07,ASU,1351.0

5. Pick two or three variables and briefly analyze them
    - Is it a categorical or numeric variable?
    - How many missing values are there? (`df['var'].isna()` and `np.sum()`)
    - If categorical, tabulate the values (`df['var'].value_counts()`) and if numeric, get a summary (`df['var'].describe()`)

Variable 1: state
- categorical
- 0 missing values

In [9]:
missing_values1 = np.sum(df['state'].isna())
state_counts = df['state'].value_counts().head(10)
print(missing_values1)
print(state_counts)

0
state
California        350
New York          241
Pennsylvania      217
Texas             207
Ohio              185
Florida           176
Illinois          141
North Carolina    135
Georgia           106
Virginia          104
Name: count, dtype: int64

Variable 2: student count
- numeric
- 0 missing values

In [11]:
missing_values2 = np.sum(df['student_count'].isna())
student_counts = df['student_count'].describe()
print(missing_values2)
print(student_counts)

0
count      3798.000000
mean       4476.135334
std        7376.868923
min          23.000000
25%         581.250000
50%        1794.500000
75%        5172.000000
max      170144.000000
Name: student_count, dtype: float64

Most institutions are relatively small (median < 2,000), but a few very large universities skew the average upward.

6. What are some questions and prediction tools you could create using these data? Who would the stakeholder be for that prediction tool? What practical or ethical questions would it create? What other data would you want, that are not available in your data?

Questions/Prediction Tools:

Graduation Rate Prediction:
- What factors best predict a schools graduation rate?
- Use a regression or some type of model to predict target variable (grad_100_value) based on given university features. 

Post-grad Success:
- It'd be interesting to get data on jobs landed post-grad including salaries.
- Could run analysis on what factors lead to highest paying jobs after graduation

Stakeholders:
- University Administrators to benchmark against other institutions
- Policymakers to determine where to allocate resources

Practical/Ethical Questions:
- Models trained on historic data may reinforce existing inequalities and access to certain colleges
- Privacy is important. Ensuring that student-level data is secure and not exposed is important

7. Commit your work to the repo (`git commit -am 'Finish assignment'` at the command line, or use the Git panel in VS Code). Push your work back to Github and submit the link on Canvas in the assignment tab.